<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Moolah</a>
    <ul class="navbar-nav mr-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href="/finances" class="nav-link" routerLink="finances">
          <mat-icon>attach_money</mat-icon>
        </a>
      </li>
      <li class="nav-item">
        <a href="/types" class="nav-link" routerLink="types">
          <mat-icon>workspaces</mat-icon>
        </a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a *ngIf="!isLoggedIn" href="/login" class="nav-link" routerLink="login">
          <mat-icon>login</mat-icon>
        </a>
        <a *ngIf="isLoggedIn" href class="nav-link" (click)="logout()">
          <mat-icon>logout</mat-icon>
        </a>
      </li>
    </ul>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>

  <footer class="footer footer-dark bg-dark">
    <div *ngIf="isLoggedIn" class="text-center py-3 fixed-bottom bg-dark text-white">
      <span class="h6">Usuário: </span>
      <a href="/profile" routerLink="profile" class="h6">{{ username }}</a>
    </div>
    <div *ngIf="!isLoggedIn" class="text-center py-3 fixed-bottom bg-dark text-white">
      <span class="h6">Ainda não tem uma conta? </span>
      <a href="/register" routerLink="register" class="h6">Registre-se!</a>
    </div>
  </footer>
</div>